.chart, .settings {
  height: calc(100vh - 8rem);
  border: 1px solid #CDCDCD;
}

.chart {
}

.settings {
  overflow-y: auto;

  .legend-label {
    position: absolute;
    top: -0.825rem;
    left: 2rem;
    padding: 0 0.5rem;
    background-color: white;
    z-index: 500;
  }
}
