.navbar {
  height: 50px;

  .navbar-brand {
    font-size: 1rem;
  }

  .avatar {
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    border-radius: 50%;
    background-color: #CDCDCD;
    cursor: pointer;
    text-align: center;

    .initials {
      line-height: 40px;
      font-size: 20px;
    }

    &::after {
      display: none !important;
    }
  }
}
