<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-6 col-md-4 mr-0" href="#">Stock Market Charting System</a>
  <input *ngIf="isAuthenticated"
         class="form-control form-control-dark d-none d-sm-block col-3 ml-auto"
         placeholder="Search" aria-label="Search">

  <div *ngIf="isAuthenticated" ngbDropdown display="dynamic" placement="bottom-right" class="float-right">
    <div class="avatar" ngbDropdownToggle>
      <span class="initials">CZ</span>
    </div>
    <div ngbDropdownMenu>
      <button ngbDropdownItem *ngFor="let item of dropDownItems"
              [style.border-top]="item.separator ? '1px solid #ced4da' : ''"
              (click)="onMenuClick(item)">{{ item.label }}
      </button>
    </div>
  </div>
</nav>
